<form id="login"  method="post">
  <input type="email" name="email" value="" placeholder="El teu mail">
  <br><br>
  <input type="password" name="password" value="" placeholder="La teva contrassenya">
  <br><br>
<input type="submit"  value="Login">
</form>

<script type="text/javascript">
  const formLogin = document.querySelector('#login')
  const formData = new FormData(formLogin)
  formLogin.addEventListener('submit',event=>{
    //No recarreguis la pagina preventDefault
    event.preventDefault()
    fetch('api/signin',{
      method:'POST',
      body:formData
    })
    .then(res=>res.json())
    .then(data=>{
      localStorage.setItem('token',data.token)
    })
  })
</script>
